
<!DOCTYPE html>
<html>

<header>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</header>



<head>
  <style>
    .list-group-item { padding: 0rem;}
    .card-body { padding: 0.25rem;}
    .col-2 { padding-right: 5px; 
        padding-left: 5px;
      }
    @page {size: landscape;}
  </style>
  <title>Ligue Deschamps</title>
</head>

<body>



<div class="container">
  <h1>Partie #{{ game_number }} - {{ game.date }} a {{ game.time }}</h1>
<p>Emplacement: {{ game.location }}</p>
  <div class="row">
    <div class="col-6 border bg-warning">
      <h3 class="text-center ">Visiteurs ({{ game.teams['visitor'].line1.name }} et {{ game.teams['visitor'].line2.name}})</h3>
    </div>
    <div class="col-6 border bg-danger">
      <h3 class="text-center">Locaux ({{ game.teams['local'].line1.name }} et {{ game.teams['local'].line2.name}})</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-2 offset-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Avant Gauche</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item{{ ' list-group-item-danger' if game.teams['visitor'].line1.players['forward_left'] in game.replacements.keys() }}">{{ game.teams['visitor'].line1.name.split(' ')[-1] }} | {{ game.teams['visitor'].line1.players['forward_left'] }}</li>
            <li class="list-group-item{{ ' list-group-item-danger' if game.teams['visitor'].line2.players['forward_left'] in game.replacements.keys() }}">{{ game.teams['visitor'].line2.name.split(' ')[-1] }} | {{ game.teams['visitor'].line2.players['forward_left'] }}</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Avant Droit</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item{{ ' list-group-item-danger' if game.teams['local'].line1.players['forward_right'] in game.replacements.keys() }}">{{ game.teams['local'].line1.name.split(' ')[-1] }} | {{ game.teams['local'].line1.players['forward_right'] }}</li>
            <li class="list-group-item{{ ' list-group-item-danger' if game.teams['local'].line2.players['forward_right'] in game.replacements.keys() }}">{{ game.teams['local'].line2.name.split(' ')[-1] }} | {{ game.teams['local'].line2.players['forward_right'] }}</li>
          </ul>
        </div>
      </div>
    </div>


    </div> 



  <div class="row">

    <div class="col-2 mt-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gardien</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">James</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-2 mt-n5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Defenseur Gauche</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item{{ ' list-group-item-danger' if game.teams['visitor'].line1.players['defence_left'] in game.replacements.keys() }}">{{ game.teams['visitor'].line1.name.split(' ')[-1] }} | {{ game.teams['visitor'].line1.players['defense_left'] }}</li>
            <li class="list-group-item{{ ' list-group-item-danger' if game.teams['visitor'].line2.players['defence_left'] in game.replacements.keys() }}">{{ game.teams['visitor'].line2.name.split(' ')[-1] }} | {{ game.teams['visitor'].line2.players['defense_left'] }}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Centre</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item{{ ' list-group-item-danger' if game.teams['visitor'].line1.players['center'] in game.replacements.keys() }}">{{ game.teams['visitor'].line1.name.split(' ')[-1] }} | {{ game.teams['visitor'].line1.players['center'] }}</li>
            <li class="list-group-item{{ ' list-group-item-danger' if game.teams['visitor'].line2.players['center'] in game.replacements.keys() }}">{{ game.teams['visitor'].line2.name.split(' ')[-1] }} | {{ game.teams['visitor'].line2.players['center'] }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Centre</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item{{ ' list-group-item-danger' if game.teams['local'].line1.players['center'] in game.replacements.keys() }}">{{ game.teams['local'].line1.name.split(' ')[-1] }} | {{ game.teams['local'].line1.players['center'] }}</li>
            <li class="list-group-item{{ ' list-group-item-danger' if game.teams['local'].line2.players['center'] in game.replacements.keys() }}">{{ game.teams['local'].line2.name.split(' ')[-1] }} | {{ game.teams['local'].line2.players['center'] }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-2 mt-n5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Defenseur Droit</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item{{ ' list-group-item-danger' if game.teams['local'].line1.players['defence_right'] in game.replacements.keys() }}">{{ game.teams['local'].line1.name.split(' ')[-1] }} | {{ game.teams['local'].line1.players['defence_right'] }}</li>
            <li class="list-group-item{{ ' list-group-item-danger' if game.teams['local'].line2.players['defence_right'] in game.replacements.keys() }}">{{ game.teams['local'].line2.name.split(' ')[-1] }} | {{ game.teams['local'].line2.players['defence_right'] }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-2 mt-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gardien</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Jo</li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  

  <div class="row">

    <div class="col-2 offset-2 mt-n5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Defenseur Droit</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item{{ ' list-group-item-danger' if game.teams['visitor'].line1.players['defence_right'] in game.replacements.keys() }}">{{ game.teams['visitor'].line1.name.split(' ')[-1] }} | {{ game.teams['visitor'].line1.players['defence_right'] }}</li>
            <li class="list-group-item{{ ' list-group-item-danger' if game.teams['visitor'].line2.players['defence_right'] in game.replacements.keys() }}">{{ game.teams['visitor'].line2.name.split(' ')[-1] }} | {{ game.teams['visitor'].line2.players['defence_right'] }}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Avant Droit</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item{{ ' list-group-item-danger' if game.teams['visitor'].line1.players['forward_right'] in game.replacements.keys() }}">{{ game.teams['visitor'].line1.name.split(' ')[-1] }} | {{ game.teams['visitor'].line1.players['forward_right'] }}</li>
            <li class="list-group-item{{ ' list-group-item-danger' if game.teams['visitor'].line2.players['forward_right'] in game.replacements.keys() }}">{{ game.teams['visitor'].line2.name.split(' ')[-1] }} | {{ game.teams['visitor'].line2.players['forward_right'] }}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Avant Gauche</h5>
          <ul class="list-group list-group-flush">
              <li class="list-group-item {{ ' list-group-item-danger' if game.teams['local'].line1.players['forward_left'] in game.replacements.keys() }}">{{ game.teams['local'].line1.name.split(' ')[-1] }} | {{ game.teams['local'].line1.players['forward_left'] }}</li>
              <li class="list-group-item {{ ' list-group-item-danger' if game.teams['local'].line2.players['forward_left'] in game.replacements.keys() }}">{{ game.teams['local'].line2.name.split(' ')[-1] }} | {{ game.teams['local'].line2.players['forward_left'] }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-2 mt-n5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Defenseur Gauche</h5>
          <ul class="list-group list-group-flush">
              <li class="list-group-item {{ ' list-group-item-danger' if game.teams['local'].line1.players['defense_left'] in game.replacements.keys() }}">{{ game.teams['local'].line1.name.split(' ')[-1] }} | {{ game.teams['local'].line1.players['defense_left'] }}</li>
              <li class="list-group-item {{ ' list-group-item-danger' if game.teams['local'].line2.players['defense_left'] in game.replacements.keys() }}">{{ game.teams['local'].line2.name.split(' ')[-1] }} | {{ game.teams['local'].line2.players['defense_left'] }}</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  {% if game.replacements|length > 0 %}
  <hr>
  <h3>Remplacant:</h3>
    {% for replacement in game.replacements.keys() %}
      <p> <s>{{ replacement }}</s> > {{ game.replacements[replacement] }}</p>
    {% endfor %}
  {% endif %}
</div>

</body>
</html>